<section class="pb-36 space-y-40 text-white">
  <!-- header -->
  <div class="border-4 border-gray-100">
    <img src="assets/image/apropos.png" alt="" />
  </div>
  <!-- Qui somme nous -->

  <div class="px-4 md:px-10 space-y-14">
    <!-- 1 card -->
    <p class="text-3xl font-bold text-center">Qui sommes-nous ?</p>
    <div class="flex flex-col md:flex-row gap-6">
      <div class="md:w-1/2">
        <img src="assets/image/lesmo.png" alt="" class="w-full h-full" />
      </div>
      <p class="md:w-1/2 mt-4 md:mt-0 text-base sm:text-lg flex items-center ">
        Créer par deux jeunes entrepreneurs Ivoirien et Beninois, notre ferme
        écologique incarne l'harmonie entre l'homme et la nature. Enracinée dans
        des pratiques agricoles durables, elle s'engage à créer des emplois
        locaux tout en préservant notre précieux écosystème. Rejoignez-nous dans
        notre mission commune de prospérité économique et environnementale, où
        chaque récolte est synonyme de croissance pour notre communauté et de
        préservation pour notre planète Au cœur de notre entreprise réside un
        dévouement inébranlable à la création et à l'innovation. Guidés par
        notre passion pour l'agriculture durable, nous nous engageons à façonner
        un avenir où la terre prospère et où les opportunités d'emploi abondent.
        Chaque jour, nous investissons notre énergie et notre ingéniosité dans
        la création de nouvelles méthodes, de nouveaux produits et de nouvelles
        opportunités, dans le but de contribuer au bien-être de notre communauté
        et à la préservation de notre environnement. Nous croyons fermement que
        c'est par notre engagement constant à créer et à innover que nous
        pourrons façonner un avenir meilleur pour tous.
      </p>
    </div>

    <!-- Notre histoire -->
    <div class="sm:px-8 md:px-16 lg:px-20 xl:px-24 2xl:px-32 space-y-4">
      <p class="text-3xl font-bold">NOTRE HISTOIRE</p>
      <p
        class="text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
        nesciunt delectus ut amet ipsum inventore asperiores illo quidem cum
        vel. Sequi dolor ipsum assumenda odio vel maxime minima, saepe
        exercitationem?
      </p>
    </div>

    <!-- Notre Vision -->
    <div class="sm:px-8 md:px-16 lg:px-20 xl:px-24 2xl:px-32 space-y-4">
      <p class="text-3xl font-bold">NOTRE VISION</p>
      <p
        class="text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
        nesciunt delectus ut amet ipsum inventore asperiores illo quidem cum
        vel. Sequi dolor ipsum assumenda odio vel maxime minima, saepe
        exercitationem?
      </p>
    </div>
    <!-- photo d'intallation -->
    <div>
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
    </div>
  </div>
</section>
