<section class="pb-4">
  <div class="border-gray-200 border-b-4  h-5/6 w-full">
    <owl-carousel-o [options]="customOptions" class="pt-7 h-48  w-full">
      <ng-template carouselSlide>
        <!-- <img src="assets/image/essaie.svg" alt="" class=""/> -->
        <img src="assets/image/SlideA1.png" alt="" class="w-full h-full"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/image/SlideA2.png" alt="" />
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/image/SlideA3.png" alt="" />
      </ng-template>
    </owl-carousel-o>
  </div>
  <!-- div container 
  border-gray-200
  
  -->
  <div class="contaIntro space-y-32 px-4 pt-40 mb-32">
    <!-- Objectif -->

    <div
      class="mx-4 md:mx-8 lg:mx-24 mt-8 md:mt-32 py-6 md:py-12 text-center bg-opacity-50 bg-black"
    >
      <p class="text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl">
        <span class="text-3xl md:text-5xl font-bold">EDEN VERT</span>
        Enracinés dans la Tradition, Orientés vers l'Avenir. Nous nous engageons
        à cultiver des produits de la plus haute qualité, tout en préservant les
        pratiques agricoles durables. Notre mission est de nourrir nos clients
        avec des produits sains, cultivés avec soin, tout en préservant et en
        respectant notre terre et notre communauté. Chez EDEN VERT, chaque
        récolte incarne notre dévouement envers l'excellence et notre passion
        pour une agriculture respectueuse de l'environnement.
      </p>
    </div>

    <div
      class="mx-4 px-2 mt-8 py-6 md:py-12 text-center bg-opacity-50 bg-black"
    >
      <p class="text-3xl md:text-5xl font-extrabold underline mb-4">
        CATEGORIES DE PRODUIT
      </p>

      <!-- 1er div -->
      <div class="pt-12">
        <div
          class="flex flex-col-reverse md:flex-row justify-between space-y-4 md:space-y-0 md:space-x-4"
        >
          <div class="md:w-1/2 flex justify-center">
            <img
              src="assets/image/2.png"
              alt=""
              class="w-full object-cover"
              loading="lazy"
            />
          </div>
          <p class="w-full md:w-1/2 flex items-center py-4">
            À la Ferme Eden Vert, nous croyons en des pratiques d'élevage
            respectueuses du bien-être animal et de l'environnement. Nos poulets
            sont élevés dans de vastes espaces ouverts où ils ont accès à une
            alimentation équilibrée, de l'eau fraîche et suffisamment d'espace
            pour exprimer leurs comportements naturels. Nous privilégions les
            méthodes d'élevage en plein air, offrant ainsi à nos volailles un
            environnement sain et naturel où elles peuvent se déplacer
            librement, gratter le sol et profiter de la lumière du soleil.Nos
            poulets sont élevés sans l'utilisation d'antibiotiques
            prophylactiques et sont nourris avec une alimentation de haute
            qualité, composée principalement de céréales biologiques et de
            protéines végétales. Nous veillons à ce que nos pratiques d'élevage
            respectent les normes les plus strictes en matière de bien-être
            animal et de sécurité alimentaire, garantissant ainsi des produits
            de haute qualité pour nos clients
          </p>
        </div>

        <!-- 2ème div -->
        <div
          class="flex flex-col md:flex-row justify-between space-y-4 md:space-y-0 md:space-x-4"
        >
          <p class="w-full md:w-1/2 flex items-center py-4">
            Notre processus de fabrication de saucisses est un mariage entre
            l'art traditionnel de la charcuterie et les normes modernes de
            sécurité alimentaire. Nous sélectionnons soigneusement les
            meilleures viandes et les ingrédients de qualité supérieure pour
            créer des saucisses savoureuses et authentiques.Une fois les viandes
            sélectionnées, elles sont hachées et assaisonnées avec des mélanges
            d'épices soigneusement élaborés, donnant à chaque saucisse son goût
            caractéristique. Nous n'utilisons aucun additif ni conservateur
            artificiel, privilégiant des ingrédients naturels pour garantir la
            qualité et la fraîcheur de nos produits. Les saucisses sont ensuite
            façonnées à la main ou embossées selon les recettes traditionnelles,
            puis cuites lentement pour préserver leur jutosité et leur saveur.
            Notre processus de fabrication respecte les normes sanitaires les
            plus strictes, garantissant ainsi des produits sûrs et délicieux
            pour nos clients.
          </p>
          <img
            src="assets/image/CA2.png"
            alt=""
            class="w-full md:w-1/2 object-cover"
            loading="lazy"
          />
        </div>

        <!-- 3ème div -->
        <div
          class="flex flex-col-reverse md:flex-row justify-between space-y-4 md:space-y-0 md:space-x-4"
        >
          <div class="md:w-1/2 flex justify-center">
            <img
              src="assets/image/CA3.png"
              alt=""
              class="w-full object-cover"
              loading="lazy"
            />
          </div>
          <p class="w-full md:w-1/2 flex items-center py-4">
            Nos porcs sont élevés dans des conditions qui favorisent leur
            bien-être et leur santé. Ils ont accès à des enclos spacieux où ils
            peuvent se déplacer librement, s'abriter et interagir avec leurs
            congénères. Nous veillons à ce qu'ils reçoivent une alimentation
            équilibrée et de qualité, composée principalement de céréales et de
            légumineuses, garantissant ainsi leur croissance optimale et leur
            santé globale.Nous privilégions les pratiques d'élevage
            respectueuses du bien-être animal, en veillant à ce que nos porcs
            bénéficient d'un environnement propre et confortable. Nous évitons
            l'utilisation d'antibiotiques prophylactiques et nous nous engageons
            à fournir des conditions de vie optimales pour nos animaux.
          </p>
        </div>

        <!-- 4ème div -->
      </div>
    </div>
  </div>
  <!-- footer -->

  <!-- Footer -->
</section>
